<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    
    <title>RH</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />    
</head>
<body>
    <!-- First section for smooth scroll -->
    <a class="section1" href="#"></a>

     <!-- Hero -->
     <div class="hero-image">
        <div class="card">
          <img
            src="./img/covid.png"
            alt="Avatar"
          />
          <div class="container">
            <h2>Confirmed Cases</h2>
          </div>
        </div>
  
        <div class="card">
          <img
            src="./img/covid.png"
            alt="Avatar"
          />
          <div class="container">
            <h2>Recovered</h2>
          </div>
        </div>
        <h1>Returning Home</h1>
        <h3>A Guide to the Challenges and Opportunities After Deportation</h3>
        <h6>what you need to know about COVID-19</h6>
      </div>


      <!-- Drop down to select state -->
      <div class="learn">
      <form action="/">
        <label for="states">Choose A State:</label>
        <select name="states" id="states">
          <option value=""></option>
          <option value="Aguascalientes">Aguascalientes</option>
          <option value="Baja California">Baja California</option>
          <option value="Baja California Sur">Baja California Sur</option>
          <option value="Chiapas">Chiapas</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="Ciudad de México">Ciudad de México</option>
          <option value="Coahuila">Coahuila</option>
          <option value="Colima">Colima</option>
          <option value="Durango">Durango</option>
          <option value="México">Edo. de México</option>
          <option value="Guanajuato">Guanajuato</option>
          <option value="Guerrero">Guerrero</option>
          <option value="Hidalgo">Hidalgo</option>
          <option value="Jalisco">Jalisco</option>
          <option value="Michoacán">Michoacán</option>
          <option value="Morelos">Morelos</option>
          <option value="Nayarit">Nayarit</option>
          <option value="Nuevo León">Nuevo León</option>
          <option value="Oaxaca">Oaxaca</option>
          <option value="Puebla">Puebla</option>
          <option value="Querétaro">Querétaro</option>
          <option value="Quintana Roo">Quintana Roo</option>
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Sinaloa">Sinaloa</option>
          <option value="Sonora">Sonora</option>
          <option value="Tabasco">Tabasco</option>
          <option value="Tamaulipas">Tamaulipas</option>
          <option value="Tlaxcala">Tlaxcala</option>
          <option value="Veracruz">Veracruz</option>
          <option value="Yucatán">Yucatán</option>
          <option value="Zacatecas">Zacatecas</option>

        </select>
        <br><br>
        <input type="submit" value="Submit" id="submit">
      </form>
    </div>

      <!-- <div class="learn" href="#">
        <button class="glow-on-hover" type="button">Learn More</button>
      </div> -->
      <!-- Scroll down to this section -->
      <a class="section2" href="#"></a>
    
      <div class="container1">
        <div class="box1">
          <h3>Who we are</h3>
          <h4>
            We're an organization that helps those that have been deported be able to transition back to mexico in a smooth manor. There are many challenges and opportunities people face when they are
            deported.<br>
            We're here to make sure you're not alone in this process.
          </h4>
        </div>
      </div>

      <div class="container2">
        <h5>Before you leave...</h5>
  
        <div class="child">
          <div class="box">
            <img class="img" src="./img/Pretty-Brain.jpg" alt="Brain" />
            <h6>Prepare yourself mentally</h6>
          </div>
          <div class="box">
            <img class="img" src="./img/money.png" alt="Dollars" />
            <h6>Access your finances</h6>
          </div>
  
          <div class="box">
            <img class="img" src="./img/house.png" alt="Job" />
            <h6>Prepare your housing</h6>
          </div>
        </div>
  
</body>
</html>