<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />

    <title>RH</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Hero -->
    <div class="hero-image">
      <% if (state){ %>

      <div class="card">
        <img src="./img/covid199.jpg" alt="Avatar" />
        <div class="container">
          <h2>Confirmed Cases <%-state.confirmed%></h2>
        </div>
      </div>

      <div class="card">
        <img src="./img/covid199.jpg" alt="Avatar" />
        <div class="container">
          <h2>Recovered Cases <%-state.recovered%></h2>
        </div>
      </div>

      <% } %>
      <h1>Returning Home</h1>
      <h3>
        A Guide to the Challenges and Opportunities After Deportation and what
        you need to know about COVID-19
      </h3>

      <div class="state-box">
        <h6 class="h6">Choose a State</h6>

        <form action="/">
          <label for="states"></label>
          <select name="states" id="states">
            <!-- These are the states directly from the API, they all carry multiple options of data -->
            <%for(var state of states){%>
            <option><%-state%></option>
            <%}%>
          </select>
          <br /><br />
          <input type="submit" value="Submit" id="submit" />
        </form>
      </div>
    </div>

    <div class="container1">
      <div class="box1">
        <h3 class="h3">Who we are</h3>
        <h4>
          We're an organization that helps those that have been deported be able
          to transition back to mexico in a smooth manor. There are many
          challenges and opportunities people face when they are deported.<br />
          We're here to make sure you're not alone in this process.
        </h4>
      </div>
    </div>

    <div class="container2">
      <h5>Before you leave...</h5>

      <div class="child">
        <div class="box">
          <img class="img" src="./img/depression.jpg"" alt="Brain" />
          <h6>Prepare yourself mentally</h6>
        </div>
        <div class="box">
          <img class="img" src="./img/money.jpg" alt="Dollars" />
          <h6>Access your finances</h6>
        </div>

        <div class="box">
          <img class="img" src="./img/jobs.jpg" alt="house" />
          <h6>Prepare your housing</h6>
        </div>
      </div>
    </div>

    <div class="hero"><p>You are not ALONE</p></div>

    <div class="footer">
      <div class="news">
        <span><b>News</b></span>
      </div>
      <p class="text">
        <marquee direction="left">
          <span
            >• Coronavirus pandemic is going to get worse and worse and
            worse: WHO chieft</span
          >
          <span>
            &nbsp;• ‘Everyone is lying’: Trump undercuts public health officials
            in fresh attacks</span
          >
          <span>
            &nbsp;• Tesla’s Elon Musk Nears $2.4 Billion Haul as Stock Keeps
            Soaring</span
          >
          <span>
            &nbsp;• SpaceX test-fires rocket for South Korean military satellite
            launch this week</span
          >
        </marquee>
      </p>
    </div>
  </body>
</html>
