* {
  padding: 0;
  margin: 0;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/family4.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  background-position: center;
}
h1 {
  font-size: 100px;
  text-align: center;
  position: relative;
  top: 240px;
  font-family: "Titillium Web", sans-serif;
  color: white;
}

h2 {
  font-family: "Titillium Web", sans-serif;
}

/* Learn More */
/* Smoothe Scroll */

.learn {
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
  color: white;
  background-color: rgba(197, 192, 150, 0.678);
  border-radius: 8px;
}

.learn:hover {
  background-color: rgb(197, 192, 150);
}

/* Who we Are */

h3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  color: white;
}
h4 {
  font-family: "Titillium Web", sans-serif;
}
.container1 {
  color: white;
  background-color: #303f4b;
  text-align: center;
  font-size: 25px;
  padding: 40px;
}

/* Before you leave */

.img {
  width: 280px;
  height: 260px;
  border-radius: 40px;
}

.container2 {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.child {
  display: flex;
  flex-wrap: wrap;
}

.box {
  margin: 10px auto;
}

h5 {
  font-family: "Titillium Web", sans-serif;
  font-size: 50px;
  line-height: 70px;
  color: #303f4b;
  text-align: center;
  margin: 10px;
}

h6 {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  line-height: 70px;
  color: #303f4b;
  text-align: center;
}

.container3 {
  background-color: #303f4b;
  text-align: center;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  left: 50%;
  padding-top: 40px;
}

/* Search Bar */

form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover {
  width: 200px;
  cursor: pointer;
}

form:hover input {
  display: block;
}

form:hover .fa {
  background: #303f4b;
  color: white;
}
